body {
  margin: 0;
  background-color: #FAFAF8;
}

#root {
  font-family: 'Inter';
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nav-logo-icon {
  height: 52px;
  width: 43px;
  margin-right: 1em;
}

.nav-logo-text {
  font-size: 2em;
}